html {
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 100;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.header{
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #ececec;
  position: relative;
  & a {
    text-decoration: none;
    color: $pointBlueColor;
  }
  .btn__box{
    display: inline-block;
    position: absolute;
    top:-5px;
    right: 27px;
    #favorite_btn{
      display: inline-block;
      font-size: 35px;
      color: $goldColor;
      margin: 0 20px;
      cursor: pointer;
    }
    .link-btn{
      color:$iconRedColor;
      font-size: 30px;
      font-weight: 100;
    }
  }
}

.flash__box{
  background-color: $pointBlueColor;
  text-align: center;
  color: #fff;
  font-weight: 400;
  &--alert{
    background-color: $iconRedColor;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
}

.main{
  width: calc(100% - 460px);
  display: inline-block;
  height: calc(100% - 66px);
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 30px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  .likes__box{
    display: table;
    margin: 0 auto;
    & a{
      text-decoration: none;
      color:$fontBlackColor;
      opacity: 0;
      display: inline-block;
      margin: 20px 35px 40px 35px;
      width: 180px;
      height: 180px;
      .like{
        display: table-cell;
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 20px;
        & img{
          width:100%;
          height:100%;
          object-fit: cover;
          border-radius: 50%;
        }
        .like__text{
          opacity: 0;
        }
      }
    }
  }
}

.search__main{
  width: 100%;
  overflow:visible;
  text-align: center;
  .main__title{
    display: inline-block;
    font-size: 40px;
  }
  .like{
    margin:40px 30px;
  }
}

.side-bar{
  display: inline-block;
  font-size: 35px;
  width: 450px;
  border: thin solid #ccc;
  height: calc(100% - 66px);
  padding: 30px;
  box-sizing: border-box;
  background-color: $pointBlueColor;
  & a {
    text-decoration: none;
  }
  & img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
    
  }
  .mypage__box{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 30px;
    .mypage{
      max-width: 200px;
      max-height: 200px;
      width: 200px;
      height: 200px;
    .mypage__name{
      font-size: 25px;
      margin: -5px 0 0 0;
      color:$fontBlackColor;
      text-decoration: none;
    }
  }
}

  #delete__text{
    // display: none;
  }
  .regist,
  .delete{
    text-align: center;
    #regist__text,
    #delete__text{
      margin: 30px 0;
      .regist_button,
      .delete_button{
        cursor: pointer;
        text-decoration: none;
        .regist_icon,
        .delete_icon{
          font-size: 25px;
          vertical-align: middle;
          margin: 0 -3px 0 7px;
          color: $iconRedColor;
        }
        .regist__btn,
        .delete__btn{
          color: $iconRedColor;
          font-weight: bold;
          margin: 0 -7px;
          & a {
            color: $pointBlueColor;
          }
        }
      }
    }
  }
  .search__box{
    height: 385px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: thin solid $pointBlueColor;
    margin: 30px 0 0 0;
    border-radius: 5px;
    background-color: $baseWhiteColor;
    & li {
      font-size: 20px;
      text-align: center;
      display: block;
      padding: 10px;
      border-bottom: thin solid #e0e0e0;
    }
    & a{
      text-decoration: none;
      color: black;
    }
  }
}

.other_user-side-bar{
  background-color: $backGrayColor;
  & a {
    text-decoration: none;
    color: $iconRedColor;
  }
}