$baseFont: 'M PLUS 1p', sans-serif;
$backGrayColor:#f5f5f5;
$fontBlackColor:#333;
$fontGrayColor:#757575;
$iconRedColor:#ea352d;
$baseWhiteColor:#fff;
$pointBlueColor:#9bb8cc;
$goldColor:#ccbb78;
$navyColor:#1a2157;
$blueBorder:thin solid #9bb8cc;
$negativeGrayColor:#888;